.square {
  width: 10rem;
  height: 10rem;
  border: 1px solid #03d4bc;
  background-color: #03d4bc;
  font-size: 6rem;
  color: #fbfbc8;
}
.square {
  width: 10rem;
  height: 10rem;
  border: 1px solid #03d4bc;
  background-color: #03d4bc;
  font-size: 6rem;
  color: #fbfbc8;
}

.square:hover {
  cursor: pointer;
  background-color: rgba(108, 174, 144, 0.9);
  border: 1px solid rgba(108, 174, 144, 0.9);
}
.winning-squ {
  border: 1px solid orange;
  background-color: orange;
}
.winning-squ:hover {
  border: 1px solid orange;
  background-color: orange;
}

@media screen and (max-width: 768px) {
  .square:hover {
    background-color: #03d4bc;
    border: 1px solid #03d4bc;
  }
  .winning-squ:hover {
    border: 1px solid orange;
    background-color: orange;
  }
}